<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LianKa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7B3FDCE1BFC3AAA00D5E6A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B3FDE71BFC3AAA00D5E6A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B3FDF21BFC3AAA00D5E6A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
